%div{:id=>'top'}

<!-- Dashboard Graph starts -->
#sub_title
  .leftside
    %i.far.fa-hospital.fa-2x.dashboard_subheader_icon.dashboard_text_color
  .leftside
    %h3 Locations
  .rightside.create_new_link
    - if our_active_admin.is_not_read_only?
      =link_to "Add Location", "javascript:;", :id =>"signup_admin_button",  :class=> '', :onclick => "open_admin_popup('add_building_main','')"


.col-md-12.min_height
  .col-md-12
    <!-- Widget -->
    .widget
      <!-- Widget head -->
      .widget-head
        .search_field  
          .leftside 
            .search_icon
              %span.far.fa-search
          = form_for :search_building_form, :url => buildings_admin_panel_admin_path, :html => {:id => "search_building_form" } do |x|
            .leftside
              = x.text_field :search_buildings, :id=>'search_buildings',  :placeholder=>'Search', :value => @search_value, :class=>'search_field_input'            
            #popup_widget_surround 
              .popup_widget.popup_ui{:id => "filter_layout"}
                #uhe_admin_popup
                  %h2 Filter 
                  =link_to "javascript:;", :class => "login_x rightside fade" , :onclick=>"close_admin_popup('filter_layout')" do
                    <i class="far fa-times" aria-hidden="true"></i>
                  .uhe_admin_popup_body.no_scroll  
                    .uhe_admin_popup_form    
                      -if our_active_admin.is_super_admin?
                        %p.entry_header
                          By Channel      
                        .entry
                          .center
                            .dropdowns
                              %label
                                = x.collection_select(:filter_channel, ClientAdmin.active, :id, :name, { :multiple => true, :prompt => "None", :selected => @channel_value}, {})
                      -if our_active_admin.is_channel_admin?
                        %p.entry_header
                          By Customer      
                        .entry 
                          .center
                            .dropdowns
                              %label
                                = x.collection_select(:filter_customer, our_active_admin.client_admin.clients.active, :id, :client_name, { :multiple => true, :prompt => "None", :selected => @customer_value}, {})
                       
                  .submit
                    .center 
                      = x.submit "Apply", :class=> "button"   
                  .footer_link
                    .center
                      = x.button "Reset Filter", :type =>  'submit', :name => 'reset_filter', :value => 'true', :class => "reset_filter_submit"

          
            .leftside
              .clear_search
                =x.button "",  :type =>  'submit', :name => 'reset_search', :value => 'true', :class => "reset_filter_submit" do
                  %span.fal.fa-times
                    
            .leftside
              .filter_link
                -if our_active_admin.is_super_admin? or our_active_admin.is_channel_admin?          
                  =link_to "Filter", "javascript:;", :class=>"", :onclick=>"open_admin_popup('filter_layout','')"
        <div class="clearfix"></div>
          
      .widget-content
        #building_list_partial
          =render :partial => "building_list"
- if our_active_admin.is_not_read_only?
  #popup_widget_surround 
    .popup_widget.popup_ui{:id => "add_building_main"}
      #uhe_admin_popup
        %h2 Add Location
        =link_to "javascript:;", :class => "login_x rightside fade" , :onclick=>"close_admin_popup('add_building_main')" do
          <i class="far fa-times" aria-hidden="true"></i>
        =form_for @building,  :url => buildings_admin_panel_admin_path  do |x|
          .uhe_admin_popup_body
            .uhe_admin_popup_form
              %p.entry_header
                - if our_active_admin.is_super_admin?
                  Channel *      
                - else
                  Customer *
              .center
                .dropdowns
                  %label
                    - if our_active_admin.is_super_admin?
                      = x.collection_select(:client_admin_id, ClientAdmin.active, :id, :name,  {:prompt=>""}, :onchange=>'checkCustomers(false,false,-1,"Select Customer")', :id=>'channelDropDown')  
                    - elsif our_active_admin.is_channel_admin?
                      = x.collection_select(:client_id, our_active_admin.client_admin.clients.active, :id, :client_name,  {:prompt=>""}) 
                    - else
                      = x.collection_select(:client_id, Client.where('id=?', our_active_admin.client_id), :id, :client_name)  
              - if our_active_admin.is_super_admin?
                %p.entry_header
                  Customer 
                .center
                  .dropdowns
                    %label
                      = x.collection_select(:client_id, Client.active, :id, :client_name,  {:prompt=>""}, :id=>'customerDropDown') 

              %p.entry_header
                Name *  
              .center     
                = x.text_field :name, :placeholder => "", :maxlength => 200
              %p.entry_header
                Address  
              .center
                = x.text_field :address1,  :placeholder => "", :maxlength => 200
              .entry_footer 
                .leftside
                  %p Street
              .entry.additional_entry
                .leftside
                  = x.text_field :city,  :placeholder => "", :class => "address_entry address_city", :maxlength => 200          
                .leftside
                  .dropdowns
                    %label
                      = select_tag :state, options_for_select(Location::US_STATE_ABRV_SELECT, :selected => ""), :id=>"", :class => "address_entry address_state"
                .leftside
                  = x.text_field :zip,  :placeholder => "", :class => "address_entry address_zip", :maxlength => 200
              .entry_footer 
                .leftside
                  %p.address_entry.address_city
                    City
                .leftside
                  %p.address_entry.address_state 
                    State
                .leftside
                  %p.address_entry.address_zip 
                    Zipcode
                =hidden_field_tag :add_building, true
        
       
          .submit
            .center 
              //= link_to "Save for later", ""
              = x.submit "Add", :class=> "button"


            
:javascript
  document.getElementById('building_name').required = true;
  if (document.getElementById('channelDropDown')) {
    document.getElementById('channelDropDown').required = true;}
  if (document.getElementById('customerDropDown')) {
    document.getElementById('customerDropDown').required = true;
  }

