.admin-form
  .container
    .row
      .col-md-12
        .widget.worange
          .widget-head
            %i.fa.fa-lock.fa-1
            Create password for #{resource.email}
          .widget-content
            .padd
              = form_for(resource, as: resource_name, url: send(:"#{resource_name}_confirm_path"), html:{:class=> 'form-horizontal'}) do |f| 
                = devise_error_messages!
                .form-group
                  %label.control-label.col-lg-5{:for=>"inputPassword"} Password 
                  .col-lg-5
                    =f.password_field :password, :autocomplete=>'off', :autofocus=>true, :id=>'inputPassword', :class=>'form-control'
                .form-group
                  %label.control-label.col-lg-5{:for=>"inputPassword"} Confirm Password
                  .col-lg-5
                    = f.password_field :password_confirmation, :autocomplete=>'off', :id=>'inputPassword', :class=>'form-control'
                    = f.hidden_field :confirmation_token, :value=>@original_token
                .col-lg-2.col-lg-offset-8
                  %button{:type=>"submit", :class=>"btn btn-info btn-sm"} Create Account 
                %br.clearfix
          .widget-footer

