<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @timestamp %> </p>
    <p>Device ID: <%= @device_id %> </p>
    <p>Status: <%= @message %></p>
    <p>Channel: <%= @channel %></p>
    <p>Customer: <%= @customer %></p>
    <p>Location: <%= @location %></p>
    <p>Unit: <%= @unit %></p>
    <p>Room: <%= @room %></p>
    <br/><br/><br/><br/>
   
  </body>
</html>
